/** **************************************
* Fonts: app
*************************************** */
@import '@fontsource-variable/public-sans';

@import '@fontsource/barlow/400.css';
@import '@fontsource/barlow/500.css';
@import '@fontsource/barlow/600.css';
@import '@fontsource/barlow/700.css';
@import '@fontsource/barlow/800.css';

/** **************************************
* Fonts: options
*************************************** */
@import '@fontsource-variable/dm-sans';
@import '@fontsource-variable/noto-sans-symbols';
/* @import '@fontsource-variable/inter'; */
@import '@fontsource-variable/nunito-sans';

/** **************************************
* Plugins
*************************************** */
/* scrollbar */
@import './components/scrollbar/styles.css';


/* tailwind css */
/* @prefix 'tw-'; */
@import "tailwindcss" prefix(tw);

/** **************************************
* Baseline
*************************************** */
@theme inline {
  --color-primary: var(--primary);
}

:root{
  --primary: #00A3FF;
}

html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
body,
#root,
#root__layout {
  display: flex;
  flex: 1 1 auto;
  min-height: 100%;
  flex-direction: column;
  /* font-family: "'Inter', 'Inter Fallback'"; */
  font-family: 'Noto Sans Symbols Variable', sans-serif !important;
  background-color: #FBFCFF !important;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: none;
}
input[type='number']::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
input[type='number']::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.text_style {
  @apply tw:text-black tw:text-[14px] tw:md:text-[18px]  tw:lg:text-[20px] tw:xl:text-[20px];
}

.body_text_style {
  @apply tw:text-gray-600 tw:text-[16px] tw:font-normal;
}

/* .heading1 {
  @apply tw:text-xl tw:md:text-4xl tw:lg:text-5xl;
}

.heading2 {
  @apply tw:text-3xl tw:md:text-4xl;
} */

.heading1 {
  @apply tw:text-[26px] tw:md:text-4xl tw:lg:text-5xl;
}

.heading2 {
  @apply tw:text-[24px] tw:md:text-3xl tw:lg:text-4xl;
}
