/** **************************************
* Fonts: app
*************************************** */

@import '@fontsource-variable/public-sans';

@import '@fontsource/barlow/400.css';
@import '@fontsource/barlow/500.css';
@import '@fontsource/barlow/600.css';
@import '@fontsource/barlow/700.css';
@import '@fontsource/barlow/800.css';

/** **************************************
* Fonts: options
*************************************** */
@import '@fontsource-variable/dm-sans';
@import '@fontsource-variable/noto-sans-symbols';
/* @import '@fontsource-variable/inter'; */
@import '@fontsource-variable/nunito-sans';

/** **************************************
* Plugins
*************************************** */
/* scrollbar */
@import './components/scrollbar/styles.css';


/* tailwind css v4 */
@import "tailwindcss" prefix(tw);

/** **************************************
* Baseline
*************************************** */
@theme inline {
  --color-primary: var(--primary);
}

:root {
  --primary: #00A3FF;
}

html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body,
#root,
#root__layout {
  display: flex;
  flex: 1 1 auto;
  min-height: 100%;
  flex-direction: column;
  /* font-family: "'Inter', 'Inter Fallback'"; */
  font-family: 'Noto Sans Symbols Variable', sans-serif !important;
  background-color: #FBFCFF !important;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: none;
}

input[type='number']::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type='number']::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.text_style {
  color: #000;
  font-size: 14px;
}
@media (min-width: 768px) {
  .text_style { font-size: 18px; }
}
@media (min-width: 1024px) {
  .text_style { font-size: 20px; }
}
@media (min-width: 1280px) {
  .text_style { font-size: 20px; }
}

.body_text_style {
  color: #4B5563;
  font-size: 16px;
  font-weight: 400;
}

/* .heading1 {
  font-size: 1.25rem;
}
@media (min-width: 768px) { .heading1 { font-size: 2.25rem; } }
@media (min-width: 1024px) { .heading1 { font-size: 3rem; } } */

/* .heading2 {
  font-size: 1.875rem;
}
@media (min-width: 768px) { .heading2 { font-size: 2.25rem; } } */

.heading1 {
  font-size: 26px;
}
@media (min-width: 768px) {
  .heading1 { font-size: 2.25rem; }
}
@media (min-width: 1024px) {
  .heading1 { font-size: 3rem; }
}

.heading2 {
  font-size: 24px;
}
@media (min-width: 768px) {
  .heading2 { font-size: 1.875rem; }
}
@media (min-width: 1024px) {
  .heading2 { font-size: 2.25rem; }
}